
body {
    background: #2e4453;
    margin: 0 auto;
}

header#site-banner.site-header{
    display: flex;
    position:relative;
    margin-top: 45px;
}
div.top-bar-wrapper {
   
    background: #c9544b;
    margin: 0 auto; 
    width: 100%;
    display: flex;
  
}

div.logo{
    order: 2;
width: 10%;
margin: 0 auto;
}


nav#site-navigation.main-navigation{
   order: 1;
   
}

ul#header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
li {
    float: left;
}

a {
    display: block;
    padding: 8px;
}