
body {
    background: #2e4453;
    margin: 0 auto;
}

header#site-banner.site-header{
    display: flex;
    position:relative;
    margin-top: 45px;
}
div.top-bar-wrapper {
    align-items: center;
    background: #c9544b;
    margin: 0 auto; 
    width: 100%;
   display: flex;
}